# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Render Configuration
RENDER_WIDTH=800
RENDER_HEIGHT=480

# OpenWeather API
OPENWEATHER_API_KEY=XXX
WEATHER_CITY=Lucerne
WEATHER_UNITS=metric

# SBB Transport API
SBB_STATION_ID=8502177
SBB_MAX_DEPARTURES=5
SBB_EXCLUDE_TO=Lucerne

# Quote API
QUOTES_LANGUAGE=de

# Calendar Settings
CALENDAR_TIMEZONE=Europe/Zurich
CALENDAR_URL=XXX


# Google Maps
GOOGLE_MAPS_API_KEY=XXX
GOOGLE_MAPS_ZOOM=14
GOOGLE_MAPS_STYLE=12faf718a36ce4b050d9c71d

# Location
LOCATION_LATITUDE=0.00
LOCATION_LONGITUDE=0.00

# Personal Settings
MY_NAME=Nils
ANNIVERSARY_DATE=2025-03-17

# Spotify API
SPOTIFY_REFRESH_TOKEN=XXX
SPOTIFY_CLIENT_ID=XXX
SPOTIFY_CLIENT_SECRET=XXX